{{ ansible_user }} ALL=(ALL) NOPASSWD: /usr/sbin/openvpn
{{ ansible_user }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl start openvpn-client@boomi
{{ ansible_user }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl stop openvpn-client@boomi
{{ ansible_user }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl restart openvpn-client@boomi